# Prediction of purchase amount
A retail company “ABC Private Limited” wants to understand the customer purchase behaviour (specifically, purchase amount) against various products of different categories. They have shared purchase summary of various customers for selected high volume products from last month.The data set also contains customer demographics (age, gender, marital status, city_type, stay_in_current_city), product details (product_id and product category) and Total purchase_amount from last month. Now, they want to build a model to predict the purchase amount of customer against various products which will help them to create personalized offer for customers againstdifferent products

In [1]:
# importing basic libraries

import os
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [2]:
os.chdir(r"D:\CBAP\Python\Project\Analytics Vidhya\Black Friday practice problem")
train_df = pd.read_csv("train.csv")
test_df = pd.read_csv('test.csv')
submit = pd.read_csv("Sample_Submission_Tm9Lura.csv")

In [3]:
print("Shape of train data: {}".format(train_df.shape))
train_df.head()

Shape of train data: (550068, 12)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [4]:
print("Shape of test data: {}".format(test_df.shape))
test_df.head()

Shape of test data: (233599, 11)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,1000004,P00128942,M,46-50,7,B,2,1,1,11.0,NaN
1,1000009,P00113442,M,26-35,17,C,0,0,3,5.0,NaN
2,1000010,P00288442,F,36-45,1,B,4+,1,5,14.0,NaN
3,1000010,P00145342,F,36-45,1,B,4+,1,4,9.0,NaN
4,1000011,P00053842,F,26-35,1,C,1,0,4,5.0,12.0

In [5]:
print("Shape of Submission data: {}".format(submit.shape))
submit.head()

Shape of Submission data: (0, 3)

Empty DataFrame
Columns: [User_ID, Product_ID, Purchase]
Index: []

In [6]:
# Saving id variables to create final submission

submit['User_ID'] = test_df['User_ID']
submit['Product_ID'] = test_df['Product_ID']

In [7]:
train_df.columns.difference(test_df.columns)

Index(['Purchase'], dtype='object')

In [8]:
train_df['User_ID'].nunique() ,test_df['User_ID'].nunique()
# Both train and test have equal number of unique user id

(5891, 5891)

In [9]:
le = LabelEncoder()

train_df['User_ID'] = le.fit_transform(train_df['User_ID'])
test_df['User_ID'] = le.transform(test_df['User_ID'])
train_df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,0,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,0,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,0,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,0,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [10]:
new_product_ids = list(set(pd.unique(test_df['Product_ID'])) - set(pd.unique(train_df['Product_ID'])))
new_product_ids

['P00227242',
 'P0099542',
 'P00306842',
 'P00140842',
 'P00168242',
 'P00061642',
 'P00270342',
 'P00315342',
 'P00012642',
 'P00309842',
 'P00056942',
 'P00336842',
 'P00322642',
 'P00082142',
 'P00105742',
 'P00253842',
 'P00172942',
 'P00294942',
 'P00156942',
 'P00063942',
 'P00077642',
 'P00166542',
 'P00042642',
 'P00039042',
 'P00092742',
 'P00239542',
 'P00312642',
 'P00058842',
 'P00268942',
 'P00204642',
 'P00030342',
 'P00249942',
 'P00062542',
 'P00038942',
 'P00074942',
 'P00013042',
 'P00062242',
 'P00100242',
 'P00359842',
 'P00106242',
 'P00165542',
 'P00300142',
 'P00322842',
 'P00279042',
 'P00082642',
 'P00236842']

In [11]:
le = LabelEncoder()
train_df['Product_ID'] = le.fit_transform(train_df['Product_ID'])
train_df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,0,672,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,0,2376,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,0,852,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,0,828,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1,2734,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [12]:
# Imputing missing products with -1
test_df.loc[test_df['Product_ID'].isin(new_product_ids), 'Product_ID'] = -1
new_product_ids.append(-1)

# Labelling the rest observations using label encoder
test_df.loc[~test_df['Product_ID'].isin(new_product_ids), 
        'Product_ID'] = le.transform(test_df.loc[~test_df['Product_ID'].isin(new_product_ids), 'Product_ID'])

In [13]:
train_df.isna().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            173638
Product_Category_3            383247
Purchase                           0
dtype: int64

In [14]:
test_df.isna().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2             72344
Product_Category_3            162562
dtype: int64

too many missing values in Product_Category_2 and Product_Category_3

In [15]:
train_df.drop(['Product_Category_2','Product_Category_3'],axis = 1,inplace = True)
test_df.drop(['Product_Category_2','Product_Category_3'],axis = 1,inplace = True)

In [16]:
cat_cols_train = train_df.select_dtypes(['object']).columns
cat_cols_train

Index(['Gender', 'Age', 'City_Category', 'Stay_In_Current_City_Years'], dtype='object')

In [17]:
cat_cols_test = test_df.select_dtypes(['object']).columns
cat_cols_test

Index(['Gender', 'Age', 'City_Category', 'Stay_In_Current_City_Years'], dtype='object')

In [18]:
for cols in cat_cols_train:
    dummy_matrix = pd.get_dummies(train_df[cols],drop_first=True,prefix = cols)
    train_df = pd.concat([train_df,dummy_matrix],axis = 1)
    del train_df[cols]
    
for cols in cat_cols_test:
    dummy_matrix = pd.get_dummies(test_df[cols],drop_first=True,prefix = cols)
    test_df = pd.concat([test_df,dummy_matrix],axis = 1)
    del test_df[cols]

In [19]:
train_df.head()

,User_ID,Product_ID,Occupation,Marital_Status,Product_Category_1,Purchase,Gender_M,Age_18-25,Age_26-35,Age_36-45,Age_46-50,Age_51-55,Age_55+,City_Category_B,City_Category_C,Stay_In_Current_City_Years_1,Stay_In_Current_City_Years_2,Stay_In_Current_City_Years_3,Stay_In_Current_City_Years_4+
0,0,672,10,0,3,8370,0,0,0,0,0,0,0,0,0,0,1,0,0
1,0,2376,10,0,1,15200,0,0,0,0,0,0,0,0,0,0,1,0,0
2,0,852,10,0,12,1422,0,0,0,0,0,0,0,0,0,0,1,0,0
3,0,828,10,0,12,1057,0,0,0,0,0,0,0,0,0,0,1,0,0
4,1,2734,16,0,8,7969,1,0,0,0,0,0,1,0,1,0,0,0,1

In [20]:
test_df.head()

,User_ID,Product_ID,Occupation,Marital_Status,Product_Category_1,Gender_M,Age_18-25,Age_26-35,Age_36-45,Age_46-50,Age_51-55,Age_55+,City_Category_B,City_Category_C,Stay_In_Current_City_Years_1,Stay_In_Current_City_Years_2,Stay_In_Current_City_Years_3,Stay_In_Current_City_Years_4+
0,3,1196,7,1,1,1,0,0,0,1,0,0,1,0,0,1,0,0
1,8,1043,17,0,3,1,0,1,0,0,0,0,0,1,0,0,0,0
2,9,2764,1,1,5,0,0,0,1,0,0,0,1,0,0,0,0,1
3,9,1358,1,1,4,0,0,0,1,0,0,0,1,0,0,0,0,1
4,10,529,1,0,4,0,0,1,0,0,0,0,0,1,1,0,0,0

In [21]:
train_df.isna().sum()

User_ID                          0
Product_ID                       0
Occupation                       0
Marital_Status                   0
Product_Category_1               0
Purchase                         0
Gender_M                         0
Age_18-25                        0
Age_26-35                        0
Age_36-45                        0
Age_46-50                        0
Age_51-55                        0
Age_55+                          0
City_Category_B                  0
City_Category_C                  0
Stay_In_Current_City_Years_1     0
Stay_In_Current_City_Years_2     0
Stay_In_Current_City_Years_3     0
Stay_In_Current_City_Years_4+    0
dtype: int64

In [22]:
test_df.isna().sum()

User_ID                          0
Product_ID                       0
Occupation                       0
Marital_Status                   0
Product_Category_1               0
Gender_M                         0
Age_18-25                        0
Age_26-35                        0
Age_36-45                        0
Age_46-50                        0
Age_51-55                        0
Age_55+                          0
City_Category_B                  0
City_Category_C                  0
Stay_In_Current_City_Years_1     0
Stay_In_Current_City_Years_2     0
Stay_In_Current_City_Years_3     0
Stay_In_Current_City_Years_4+    0
dtype: int64

In [23]:
X_train = train_df.drop(['Purchase'],axis = 1)
Y_train = train_df['Purchase']

In [24]:
from sklearn.model_selection import train_test_split
train_df_train,train_df_test = train_test_split(train_df,test_size = 0.2,random_state = 42)
x_train = train_df_train.drop(['Purchase'],axis = 1)
y_train = train_df_train['Purchase']

x_test = train_df_test.drop(['Purchase'],axis = 1)
y_test = train_df_test['Purchase']

In [25]:
Y_train.min()

12

# Simple linear regression

In [26]:
from sklearn.linear_model import LinearRegression
lm = LinearRegression()
lm.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [27]:
p_test = lm.predict(x_test)

In [28]:
rmse_lm = np.sqrt(np.mean((y_test-p_test)**2))
print('Tentative RMSE linear regression: {}'.format(rmse_lm))

Tentative RMSE linear regression: 4671.043665431294

In [29]:
# Building model on entire data

lm.fit(X_train,Y_train)
submit['Purchase'] = lm.predict(test_df)

In [30]:
submit.to_csv('Nazira_Black_friday_sales_prediction.csv',index = False)

# Lasso based model

In [31]:
from sklearn.linear_model import Lasso
from sklearn.model_selection import RandomizedSearchCV
from sklearn.metrics import mean_absolute_error

In [34]:
params = {'alpha' : np.linspace(0.01,10,100)}
model = Lasso(fit_intercept = True)
random_search = RandomizedSearchCV(model,param_distributions=params,cv = 10,scoring = 'neg_mean_absolute_error',
                                   n_iter=20,n_jobs = -1,verbose=20,random_state = 42)

In [35]:
import time
start = time.time()
random_search.fit(x_train,y_train)
end = time.time()
print("Time required: {}".format(end-start))

Fitting 10 folds for each of 20 candidates, totalling 200 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done   1 tasks      | elapsed:  1.2min
[Parallel(n_jobs=-1)]: Done   2 tasks      | elapsed:  1.2min
[Parallel(n_jobs=-1)]: Done   3 tasks      | elapsed:  1.2min
[Parallel(n_jobs=-1)]: Done   4 tasks      | elapsed:  1.2min
[Parallel(n_jobs=-1)]: Done   5 tasks      | elapsed:  1.2min
[Parallel(n_jobs=-1)]: Done   6 tasks      | elapsed:  1.2min
[Parallel(n_jobs=-1)]: Done   7 tasks      | elapsed:  1.2min
[Parallel(n_jobs=-1)]: Done   8 tasks      | elapsed:  1.2min
[Parallel(n_jobs=-1)]: Done   9 tasks      | elapsed:  1.2min
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:  1.2min
[Parallel(n_jobs=-1)]: Done  11 tasks      | elapsed:  1.2min
[Parallel(n_jobs=-1)]: Done  12 tasks      | elapsed:  1.2min
[Parallel(n_jobs=-1)]: Done  13 tasks      | elapsed:  1.3min
[Parallel(n_jobs=-1)]: Done  14 tasks      | elapsed:  1.3min
[Parallel(n_jobs=-1)]: Done  15 tasks      | elapsed:  1.3min
[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:  1.3min
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:  1.3min
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:  1.3min
[Parallel(n_jobs=-1)]: Done  19 tasks      | elapsed:  1.3min
[Parallel(n_jobs=-1)]: Done  20 tasks      | elapsed:  1.4min
[Parallel(n_jobs=-1)]: Done  21 tasks      | elapsed:  1.4min
[Parallel(n_jobs=-1)]: Done  22 tasks      | elapsed:  1.4min
[Parallel(n_jobs=-1)]: Done  23 tasks      | elapsed:  1.4min
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:  1.4min
[Parallel(n_jobs=-1)]: Done  25 tasks      | elapsed:  1.4min
[Parallel(n_jobs=-1)]: Done  26 tasks      | elapsed:  1.4min
[Parallel(n_jobs=-1)]: Done  27 tasks      | elapsed:  1.4min
[Parallel(n_jobs=-1)]: Done  28 tasks      | elapsed:  1.4min
[Parallel(n_jobs=-1)]: Done  29 tasks      | elapsed:  1.5min
[Parallel(n_jobs=-1)]: Done  30 tasks      | elapsed:  1.5min
[Parallel(n_jobs=-1)]: Done  31 tasks      | elapsed:  1.5min
[Parallel(n_jobs=-1)]: Done  32 tasks      | elapsed:  1.5min
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:  1.5min
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:  1.5min
[Parallel(n_jobs=-1)]: Done  35 tasks      | elapsed:  1.5min
[Parallel(n_jobs=-1)]: Done  36 tasks      | elapsed:  1.5min
[Parallel(n_jobs=-1)]: Done  37 tasks      | elapsed:  1.6min
[Parallel(n_jobs=-1)]: Done  38 tasks      | elapsed:  1.6min
[Parallel(n_jobs=-1)]: Done  39 tasks      | elapsed:  1.6min
[Parallel(n_jobs=-1)]: Done  40 tasks      | elapsed:  1.6min
[Parallel(n_jobs=-1)]: Done  41 tasks      | elapsed:  1.6min
[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:  1.6min
[Parallel(n_jobs=-1)]: Done  43 tasks      | elapsed:  1.6min
[Parallel(n_jobs=-1)]: Done  44 tasks      | elapsed:  1.6min
[Parallel(n_jobs=-1)]: Done  45 tasks      | elapsed:  1.7min
[Parallel(n_jobs=-1)]: Done  46 tasks      | elapsed:  1.7min
[Parallel(n_jobs=-1)]: Done  47 tasks      | elapsed:  1.7min
[Parallel(n_jobs=-1)]: Done  48 tasks      | elapsed:  1.7min
[Parallel(n_jobs=-1)]: Done  49 tasks      | elapsed:  1.7min
[Parallel(n_jobs=-1)]: Done  50 tasks      | elapsed:  1.7min
[Parallel(n_jobs=-1)]: Done  51 tasks      | elapsed:  1.7min
[Parallel(n_jobs=-1)]: Done  52 tasks      | elapsed:  1.7min
[Parallel(n_jobs=-1)]: Done  53 tasks      | elapsed:  1.8min
[Parallel(n_jobs=-1)]: Done  54 tasks      | elapsed:  1.8min
[Parallel(n_jobs=-1)]: Done  55 tasks      | elapsed:  1.8min
[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:  1.8min
[Parallel(n_jobs=-1)]: Done  57 tasks      | elapsed:  1.8min
[Parallel(n_jobs=-1)]: Done  58 tasks      | elapsed:  1.8min
[Parallel(n_jobs=-1)]: Done  59 tasks      | elapsed:  1.8min
[Parallel(n_jobs=-1)]: Done  60 tasks      | elapsed:  1.8min
[Parallel(n_jobs=-1)]: Done  61 tasks      | elapsed:  2.0min
[Parallel(n_jobs=-1)]: Done  62 tasks      | elapsed:  2.0min
[Parallel(n_jobs=-1)]: Done  63 tasks      | elapsed:  2.0min
[Parallel(n_jobs=-1)]: Done  64 tasks      | elapsed:  2.0min
[Parallel(n_jobs=-1)]: Done  65 tasks      | elapsed:  2.2min
[Parallel(n_jobs=-1)]: Done  66 tasks      | elapsed:  2.2min
[Parallel(n_jobs=-1)]: Done  67 tasks      | elapsed:  2.2min
[Parallel(n_jobs=-1)]: Done  68 tasks      | elapsed:  2.2min
[Parallel(n_jobs=-1)]: Done  69 tasks      | elapsed:  2.3min
[Parallel(n_jobs=-1)]: Done  70 tasks      | elapsed:  2.3min
[Parallel(n_jobs=-1)]: Done  71 tasks      | elapsed:  2.3min
[Parallel(n_jobs=-1)]: Done  72 tasks      | elapsed:  2.4min
[Parallel(n_jobs=-1)]: Done  73 tasks      | elapsed:  2.4min
[Parallel(n_jobs=-1)]: Done  74 tasks      | elapsed:  2.4min
[Parallel(n_jobs=-1)]: Done  75 tasks      | elapsed:  2.4min
[Parallel(n_jobs=-1)]: Done  76 tasks      | elapsed:  2.4min
[Parallel(n_jobs=-1)]: Done  77 tasks      | elapsed:  2.4min
[Parallel(n_jobs=-1)]: Done  78 tasks      | elapsed:  2.5min
[Parallel(n_jobs=-1)]: Done  79 tasks      | elapsed:  2.5min
[Parallel(n_jobs=-1)]: Done  80 tasks      | elapsed:  2.5min
[Parallel(n_jobs=-1)]: Done  81 tasks      | elapsed:  2.7min
[Parallel(n_jobs=-1)]: Done  82 tasks      | elapsed:  2.7min
[Parallel(n_jobs=-1)]: Done  83 tasks      | elapsed:  2.7min
[Parallel(n_jobs=-1)]: Done  84 tasks      | elapsed:  2.7min
[Parallel(n_jobs=-1)]: Done  85 tasks      | elapsed:  2.9min
[Parallel(n_jobs=-1)]: Done  86 tasks      | elapsed:  3.0min
[Parallel(n_jobs=-1)]: Done  87 tasks      | elapsed:  3.0min
[Parallel(n_jobs=-1)]: Done  88 tasks      | elapsed:  3.0min
[Parallel(n_jobs=-1)]: Done  89 tasks      | elapsed:  3.2min
[Parallel(n_jobs=-1)]: Done  90 tasks      | elapsed:  3.2min
[Parallel(n_jobs=-1)]: Done  91 tasks      | elapsed:  3.5min
[Parallel(n_jobs=-1)]: Done  92 tasks      | elapsed:  3.5min
[Parallel(n_jobs=-1)]: Done  93 tasks      | elapsed:  3.7min
[Parallel(n_jobs=-1)]: Done  94 tasks      | elapsed:  3.8min
[Parallel(n_jobs=-1)]: Done  95 tasks      | elapsed:  4.0min
[Parallel(n_jobs=-1)]: Done  96 tasks      | elapsed:  4.0min
[Parallel(n_jobs=-1)]: Done  97 tasks      | elapsed:  4.2min
[Parallel(n_jobs=-1)]: Done  98 tasks      | elapsed:  4.3min
[Parallel(n_jobs=-1)]: Done  99 tasks      | elapsed:  4.3min
[Parallel(n_jobs=-1)]: Done 100 tasks      | elapsed:  4.4min
[Parallel(n_jobs=-1)]: Done 101 tasks      | elapsed:  4.4min
[Parallel(n_jobs=-1)]: Done 102 tasks      | elapsed:  4.5min
[Parallel(n_jobs=-1)]: Done 103 tasks      | elapsed:  4.5min
[Parallel(n_jobs=-1)]: Done 104 tasks      | elapsed:  4.5min
[Parallel(n_jobs=-1)]: Done 105 tasks      | elapsed:  4.6min
[Parallel(n_jobs=-1)]: Done 106 tasks      | elapsed:  4.6min
[Parallel(n_jobs=-1)]: Done 107 tasks      | elapsed:  4.6min
[Parallel(n_jobs=-1)]: Done 108 tasks      | elapsed:  4.7min
[Parallel(n_jobs=-1)]: Done 109 tasks      | elapsed:  4.7min
[Parallel(n_jobs=-1)]: Done 110 tasks      | elapsed:  4.8min
[Parallel(n_jobs=-1)]: Done 111 tasks      | elapsed:  4.8min
[Parallel(n_jobs=-1)]: Done 112 tasks      | elapsed:  4.9min
[Parallel(n_jobs=-1)]: Done 113 tasks      | elapsed:  4.9min
[Parallel(n_jobs=-1)]: Done 114 tasks      | elapsed:  5.0min
[Parallel(n_jobs=-1)]: Done 115 tasks      | elapsed:  5.0min
[Parallel(n_jobs=-1)]: Done 116 tasks      | elapsed:  5.1min
[Parallel(n_jobs=-1)]: Done 117 tasks      | elapsed:  5.1min
[Parallel(n_jobs=-1)]: Done 118 tasks      | elapsed:  5.1min
[Parallel(n_jobs=-1)]: Done 119 tasks      | elapsed:  5.1min
[Parallel(n_jobs=-1)]: Done 120 tasks      | elapsed:  5.2min
[Parallel(n_jobs=-1)]: Done 121 tasks      | elapsed:  5.2min
[Parallel(n_jobs=-1)]: Done 122 tasks      | elapsed:  5.2min
[Parallel(n_jobs=-1)]: Done 123 tasks      | elapsed:  5.2min
[Parallel(n_jobs=-1)]: Done 124 tasks      | elapsed:  5.2min
[Parallel(n_jobs=-1)]: Done 125 tasks      | elapsed:  5.2min
[Parallel(n_jobs=-1)]: Done 126 tasks      | elapsed:  5.2min
[Parallel(n_jobs=-1)]: Done 127 tasks      | elapsed:  5.3min
[Parallel(n_jobs=-1)]: Done 128 tasks      | elapsed:  5.3min
[Parallel(n_jobs=-1)]: Done 129 tasks      | elapsed:  5.3min
[Parallel(n_jobs=-1)]: Done 130 tasks      | elapsed:  5.3min
[Parallel(n_jobs=-1)]: Done 131 tasks      | elapsed:  5.3min

[Parallel(n_jobs=-1)]: Done 132 tasks      | elapsed:  5.4min
[Parallel(n_jobs=-1)]: Done 133 tasks      | elapsed:  5.4min
[Parallel(n_jobs=-1)]: Done 134 tasks      | elapsed:  5.4min
[Parallel(n_jobs=-1)]: Done 135 tasks      | elapsed:  5.4min
[Parallel(n_jobs=-1)]: Done 136 tasks      | elapsed:  5.5min
[Parallel(n_jobs=-1)]: Done 137 tasks      | elapsed:  5.5min
[Parallel(n_jobs=-1)]: Done 138 tasks      | elapsed:  5.5min
[Parallel(n_jobs=-1)]: Done 139 tasks      | elapsed:  5.6min
[Parallel(n_jobs=-1)]: Done 140 tasks      | elapsed:  5.6min
[Parallel(n_jobs=-1)]: Done 141 tasks      | elapsed:  5.6min
[Parallel(n_jobs=-1)]: Done 142 tasks      | elapsed:  5.6min
[Parallel(n_jobs=-1)]: Done 143 tasks      | elapsed:  5.6min
[Parallel(n_jobs=-1)]: Done 144 tasks      | elapsed:  5.6min
[Parallel(n_jobs=-1)]: Done 145 tasks      | elapsed:  5.6min
[Parallel(n_jobs=-1)]: Done 146 tasks      | elapsed:  5.6min
[Parallel(n_jobs=-1)]: Done 147 tasks      | elapsed:  5.7min
[Parallel(n_jobs=-1)]: Done 148 tasks      | elapsed:  5.7min
[Parallel(n_jobs=-1)]: Done 149 tasks      | elapsed:  5.7min
[Parallel(n_jobs=-1)]: Done 150 tasks      | elapsed:  5.7min
[Parallel(n_jobs=-1)]: Done 151 tasks      | elapsed:  6.0min
[Parallel(n_jobs=-1)]: Done 152 tasks      | elapsed:  6.0min
[Parallel(n_jobs=-1)]: Done 153 tasks      | elapsed:  6.0min
[Parallel(n_jobs=-1)]: Done 154 tasks      | elapsed:  6.0min
[Parallel(n_jobs=-1)]: Done 155 tasks      | elapsed:  6.3min
[Parallel(n_jobs=-1)]: Done 156 tasks      | elapsed:  6.3min
[Parallel(n_jobs=-1)]: Done 157 tasks      | elapsed:  6.3min
[Parallel(n_jobs=-1)]: Done 158 tasks      | elapsed:  6.3min
[Parallel(n_jobs=-1)]: Done 159 tasks      | elapsed:  6.4min
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:  6.4min
[Parallel(n_jobs=-1)]: Done 161 tasks      | elapsed:  6.5min
[Parallel(n_jobs=-1)]: Done 162 tasks      | elapsed:  6.5min
[Parallel(n_jobs=-1)]: Done 163 tasks      | elapsed:  6.5min
[Parallel(n_jobs=-1)]: Done 164 tasks      | elapsed:  6.5min
[Parallel(n_jobs=-1)]: Done 165 tasks      | elapsed:  6.6min
[Parallel(n_jobs=-1)]: Done 166 tasks      | elapsed:  6.6min
[Parallel(n_jobs=-1)]: Done 167 tasks      | elapsed:  6.6min
[Parallel(n_jobs=-1)]: Done 168 tasks      | elapsed:  6.6min
[Parallel(n_jobs=-1)]: Done 169 tasks      | elapsed:  6.6min
[Parallel(n_jobs=-1)]: Done 170 tasks      | elapsed:  6.6min
[Parallel(n_jobs=-1)]: Done 171 tasks      | elapsed:  6.6min
[Parallel(n_jobs=-1)]: Done 172 tasks      | elapsed:  6.6min
[Parallel(n_jobs=-1)]: Done 173 tasks      | elapsed:  6.7min
[Parallel(n_jobs=-1)]: Done 174 tasks      | elapsed:  6.7min
[Parallel(n_jobs=-1)]: Done 175 tasks      | elapsed:  6.7min
[Parallel(n_jobs=-1)]: Done 176 tasks      | elapsed:  6.7min
[Parallel(n_jobs=-1)]: Done 177 tasks      | elapsed:  6.7min
[Parallel(n_jobs=-1)]: Done 178 tasks      | elapsed:  6.7min
[Parallel(n_jobs=-1)]: Done 179 tasks      | elapsed:  6.7min
[Parallel(n_jobs=-1)]: Done 180 tasks      | elapsed:  6.7min
[Parallel(n_jobs=-1)]: Done 181 tasks      | elapsed:  6.9min
[Parallel(n_jobs=-1)]: Done 182 tasks      | elapsed:  6.9min
[Parallel(n_jobs=-1)]: Done 183 tasks      | elapsed:  6.9min
[Parallel(n_jobs=-1)]: Done 184 tasks      | elapsed:  7.0min
[Parallel(n_jobs=-1)]: Done 185 tasks      | elapsed:  7.1min
[Parallel(n_jobs=-1)]: Done 186 tasks      | elapsed:  7.2min
[Parallel(n_jobs=-1)]: Done 187 tasks      | elapsed:  7.2min
[Parallel(n_jobs=-1)]: Done 188 tasks      | elapsed:  7.2min
[Parallel(n_jobs=-1)]: Done 189 tasks      | elapsed:  7.4min
[Parallel(n_jobs=-1)]: Done 190 tasks      | elapsed:  7.4min
[Parallel(n_jobs=-1)]: Done 191 tasks      | elapsed:  7.4min
[Parallel(n_jobs=-1)]: Done 192 tasks      | elapsed:  7.4min
[Parallel(n_jobs=-1)]: Done 193 tasks      | elapsed:  7.5min
[Parallel(n_jobs=-1)]: Done 200 out of 200 | elapsed:  7.7min finished

Time required: 468.55037021636963

In [36]:
random_search.best_estimator_

Lasso(alpha=2.2299999999999995, copy_X=True, fit_intercept=True,
   max_iter=1000, normalize=False, positive=False, precompute=False,
   random_state=None, selection='cyclic', tol=0.0001, warm_start=False)

In [41]:
def report(results, n_top=3):
    for i in range(1, n_top + 1):
        candidates = np.flatnonzero(results['rank_test_score'] == i)
        for candidate in candidates:
            print("Model with rank: {0}".format(i))
            print("Mean validation score: {0:.5f} (std: {1:.3f})".format(
                  results['mean_test_score'][candidate],
                  results['std_test_score'][candidate]))
            print("Parameters: {0}".format(results['params'][candidate]))
            print("")
            
report(random_search.cv_results_,5)

Model with rank: 1
Mean validation score: -3587.82843 (std: 18.647)
Parameters: {'alpha': 2.2299999999999995}

Model with rank: 2
Mean validation score: -3587.83874 (std: 18.675)
Parameters: {'alpha': 1.8263636363636364}

Model with rank: 3
Mean validation score: -3587.84752 (std: 18.753)
Parameters: {'alpha': 1.019090909090909}

Model with rank: 4
Mean validation score: -3587.85104 (std: 18.724)
Parameters: {'alpha': 1.220909090909091}

Model with rank: 5
Mean validation score: -3587.93516 (std: 18.827)
Parameters: {'alpha': 0.41363636363636364}

In [42]:
p_test = random_search.predict(x_test)

In [43]:
rmse_lasso = np.sqrt(np.mean((y_test-p_test)**2))
print('Tentative RMSE Lasso based regression: {}'.format(rmse_lasso))

Tentative RMSE Lasso based regression: 4671.49845083821

# XGboost

In [28]:
from xgboost import XGBRegressor

```params = {'learning_rate':[0.01,0.05,0.1,0.3,0.5,0.6,0.7,0.9],
          'gamma' :[i/10.0 for i in range(0,5)],
          'max_depth' : [2,4,6,8,10,12,13,15],
          'min_child_weight':[1,2,5,10],
          'max_delta_step':[0,1,2,5,10],
          'scale_pos_weight':[1,2,3,4,5,6,7,8,9],
          'subsample' :[i/10.0 for i in range(5,10)],
          'colsample_bytree' :[i/10.0 for i in range(5,10)],
          'colsample_bylevel' :[i/10.0 for i in range(5,10)],
          'class_weight':['balanced'],
          'reg_lambda' : [1e-5,1e-2,0.1,1,100],
          'reg_alpha' : [1e-5,1e-2,0.1,1,100],
          'n_estimators' : [100,150,200,300]
   }```

In [40]:
reg = XGBRegressor(objective= 'reg:linear',colsample_bylevel=1,
       colsample_bytree=1, gamma=0.9, learning_rate=0.9, max_delta_step=0, max_depth=13,
       min_child_weight=4, n_estimators=10, nthread=None,reg_alpha=0.5,reg_lambda=1,subsample=1,seed=1122)

In [41]:
reg.fit(x_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \
C:\ProgramData\Anaconda3\lib\site-packages\xgboost\core.py:588: FutureWarning: Series.base is deprecated and will be removed in a future version
  data.base is not None and isinstance(data, np.ndarray) \

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0.9, importance_type='gain',
       learning_rate=0.9, max_delta_step=0, max_depth=13,
       min_child_weight=4, missing=None, n_estimators=10, n_jobs=1,
       nthread=None, objective='reg:linear', random_state=0, reg_alpha=0.5,
       reg_lambda=1, scale_pos_weight=1, seed=1122, silent=True,
       subsample=1)

In [43]:
p_test = reg.predict(x_test)
p_test = np.where(p_test<0,12,p_test)

In [44]:
rmse_xgb = np.sqrt(np.mean((y_test-p_test)**2))
print('Tentative RMSE XG-BOOST based model: {}'.format(rmse_xgb))

Tentative RMSE XG-BOOST based model: 2666.532861226353

In [45]:
reg.fit(X_train,Y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0.9, importance_type='gain',
       learning_rate=0.9, max_delta_step=0, max_depth=13,
       min_child_weight=4, missing=None, n_estimators=10, n_jobs=1,
       nthread=None, objective='reg:linear', random_state=0, reg_alpha=0.5,
       reg_lambda=1, scale_pos_weight=1, seed=1122, silent=True,
       subsample=1)

In [46]:
submit['Purchase'] = reg.predict(test_df)
submit['Purchase'] = np.where(submit['Purchase']<0,12,submit['Purchase'])
submit.to_csv('Nazira_Black_friday_sales_prediction.csv',index = False)

**Tremendous improvement in RMSE : 2666**

# Neural networks

In [26]:
from sklearn.neural_network import MLPRegressor
from sklearn.model_selection import RandomizedSearchCV
from sklearn.metrics import mean_absolute_error

```parameters = {'learning_rate': ['constant','invscaling','adaptive'],
             'hidden_layer_sizes': [(1,6),(20,10),(50,20,40)],
             'alpha': [0.3,0.1,0.01,0.05],
             'activation':['logistic','relu','tanh']}```

In [27]:
model = MLPRegressor(learning_rate='adaptive',hidden_layer_sizes=(100,50),alpha = 0.3,activation='relu')
model.fit(x_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\neural_network\multilayer_perceptron.py:562: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

MLPRegressor(activation='relu', alpha=0.3, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(100, 50), learning_rate='adaptive',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
       random_state=None, shuffle=True, solver='adam', tol=0.0001,
       validation_fraction=0.1, verbose=False, warm_start=False)

In [28]:
p_test = model.predict(x_test)

In [29]:
RMSE_neural = np.sqrt(np.mean((y_test-p_test)**2))
print("RMSE Neural_network: {}".format(RMSE_neural))

RMSE Neural_network: 3426.5794699046683

In [ ]:
# No improvement with neral network based model,but can be improved by tuning hidden layer sizes, 
# Due to infrastructure issue unable to build large complex neural nets

**Conclusion:XGBoost is performing the best**